@using Manage.Tools.FileHandler.Abstraction
@using Manage.ViewModels.BoardDirector
@using Core.Constants.File
@using Core.Constants
@using Core
@using System.Globalization

@model IndexViewModel
@inject IFileService _fileService
@inject IUnitOfWork _unitOfWork

@{
    ViewData["Title"] = "Nobel Energy | Board director";
    var currentCulture = CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;
}

@await Component.InvokeAsync("IntroductionBanner", new { Page = Page.WhoWeAre })


<!--------------------------- Tab --------------------------->

@await Component.InvokeAsync("PageTab", new { page = Page.WhoWeAre, currentPage = $"{currentCulture}/corporategovernance" })

<!--------------------------- Tab --------------------------->

<!--------------------------- Pages Components --------------------------->

<div id="g-pages-component-section" class="px-md-5 px-2">
    <div class="row justify-content-around ">
        <h2 class="g-pages-component-title">@Html.Raw(_unitOfWork.Languages.ChooseLanguage(Model.BoardDirectorComponent, "Title", currentCulture))</h2>

        @foreach (var boardDirector in Model.BoardDirectors)
        {
            <div class="g-pages-component-director col-lg-6">
                <div class="g-pages-component-director-image  "
                     style="background-image: url('@_fileService.GetFileUrl(boardDirector.PhotoName, FilePath.Manager)');">

                    <h4 class="g-pages-component-director-name  mb-5 mb-md-0">
                        @Html.Raw(_unitOfWork.Languages.ChooseLanguage(boardDirector, "Name", currentCulture))
                    </h4>
                    <p class="g-pages-component-director-position">
                        @Html.Raw(_unitOfWork.Languages.ChooseLanguage(boardDirector, "Info", currentCulture))
                    </p>
                </div>

                <div class="g-pages-component-director-info px-2 mt-3">
                    @Html.Raw(_unitOfWork.Languages.ChooseLanguage(boardDirector, "Content", currentCulture))
                </div>
            </div>
        }

    </div>
</div>

<!--------------------------- Pages Components --------------------------->