@using Manage.Areas.Admin.Models.PageManagement.History
@using Manage.Tools.FileHandler.Abstraction
@using Core.Constants.File

@inject IFileService _fileService
@model HistoryIndexViewModel

@{
    ViewData["Title"] = "History";
}

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">History</h4>
        </div>
    </div>
</div>

@if (TempData["message"] != null)
{
    <div class="alert alert-@TempData["message_type"]">
        @TempData["message"]
    </div>
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">

                    <div>
                        <a asp-action="addcomponent" asp-controller="history" asp-area="admin" asp type="button" class="btn btn-gradient-primary waves-effect waves-light float-right mb-3">
                            + New Component
                        </a>
                    </div>
                    <table id="users-table" class="table table-striped mb-0 ">
                        <thead>
                            <tr>
                                <th>
                                    <span class="mr-1" style="pointer-events: none;">@Html.DisplayNameFor(x => x.HistoryComponents.GetEnumerator().Current.Order)</span>
                                </th>
                                <th>
                                    <span class="mr-1" style="pointer-events: none;">@Html.DisplayNameFor(x => x.HistoryComponents.GetEnumerator().Current.ActionDate)</span>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int rowCounter = 0;
                                foreach (var historyComponent in Model.HistoryComponents)
                                {
                                    rowCounter++;
                                   
                                    <tr>                                       
                                        <td>@historyComponent.Order</td>
                                        <td>@historyComponent.ActionDate.Year</td>
                                        <td>
                                            <a asp-controller="history" asp-action="editcomponent" asp-route-id="@historyComponent.Id" class="mr-2"><i class="fas fa-edit text-info font-18"></i></a>
                                            <a asp-controller="history" asp-action="detailscomponent" asp-route-id="@historyComponent.Id" class="mr-2"><i class="fas fa-external-link-square-alt text-info font-18"></i></a>
                                            <a asp-controller="history" asp-action="deletecomponent" asp-route-id="@historyComponent.Id" onclick="return confirm('Are you sure to delete?')" class="mr-2"><i class="fas fa-trash-alt text-danger font-18"></i></a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>

                </div><!--end /tableresponsive-->
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!-- end col -->
</div>

@section Scripts{

}