@using Manage.Areas.Admin.Models.ComponentManagement.Vacancy
@model VacancyListViewModel

@{
    ViewData["Title"] = "Vacancy";
}

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Vacancy</h4>
        </div>
    </div>
</div>

@if (TempData["message"] != null)
{
    <div class="alert alert-@TempData["message_type"]">
        @TempData["message"]
    </div>
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div>
                    <a asp-action="create" asp-controller="vacancy" asp-area="admin" asp type="button" class="btn btn-gradient-primary waves-effect waves-light float-right mb-3">
                        + New Vacancy
                    </a>
                </div>

                <div class="table-responsive">

                    <table id="users-table" class="table table-striped mb-0 ">
                        <thead>
                            <tr>
                                <th>
                                    <span class="mr-1" style="pointer-events: none;">@Html.DisplayNameFor(x => x.Vacancies.GetEnumerator().Current.Title_AZ)</span>
                                </th>
                                <th>
                                    <span class="mr-1" style="pointer-events: none;">@Html.DisplayNameFor(x => x.Vacancies.GetEnumerator().Current.Title_RU)</span>
                                </th>
                                <th>
                                    <span class="mr-1" style="pointer-events: none;">@Html.DisplayNameFor(x => x.Vacancies.GetEnumerator().Current.Title_EN)</span>
                                </th>
                                <th>
                                    <span class="mr-1" style="pointer-events: none;">@Html.DisplayNameFor(x => x.Vacancies.GetEnumerator().Current.Title_TR)</span>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int rowCounter = 0;
                                foreach (var vacancy in Model.Vacancies)
                                {
                                    rowCounter++;

                                    <tr data-pk="@vacancy.Id">
                                        <td>@vacancy.Title_AZ</td>
                                        <td>@vacancy.Title_RU</td>
                                        <td>@vacancy.Title_EN</td>
                                        <td>@vacancy.Title_TR</td>
                                        <td>
                                            <a asp-controller="vacancy" asp-action="applies" asp-route-id="@vacancy.Id" class="mr-2"><i class="fas fa-user-tag text-info font-18"></i></a>
                                            <a asp-controller="vacancy" asp-action="edit" asp-route-id="@vacancy.Id" class="mr-2"><i class="fas fa-edit text-info font-18"></i></a>
                                            <a asp-controller="vacancy" asp-action="details" asp-route-id="@vacancy.Id" class="mr-2"><i class="fas fa-external-link-square-alt text-info font-18"></i></a>
                                            <a asp-controller="vacancy" asp-action="delete" asp-route-id="@vacancy.Id" onclick="return confirm('Are you sure to delete?')" class="mr-2"><i class="fas fa-trash-alt text-danger font-18"></i></a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>

                </div><!--end /tableresponsive-->
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!-- end col -->
</div>

@section Scripts{

}